@use "sass:color";

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$border-radius-curve: 0.75em;

$bg: #131318;
$bg_transparent: color.scale($bg,$alpha:-100%);

window.Bar {
  background: $bg_transparent;
  color: $fg-color;
  font-weight: bold;
  padding: 0 12px;
  min-height: 16px;
  
  >centerbox {
  }

  button {
    border-radius: $border-radius-curve;
    transition: all 0.5s
  }


  .workspacebox {

    >button {
      margin: 2px;
      min-height: 10px;
      min-width: 10px;
      padding:0px;
      border:none;
      border-radius: 50px;

      &.active {
        background: red;
        min-height: 10px;
        min-width: 20px;
      }
    }



  }
}
